/* GENERAL / TAGS */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    display: block;
}

section {
    padding: 10px 0;
    display: block;
}

footer {
    padding: 10px 0;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

h3 {
    font-weight: 300;
}

/* CUSTOM CLASSES */

.container {
    margin: 10px auto;
    max-width: 1280px;
    width: 90%;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.display-block {
    display: block;
}

.display-inline-block {
    display: inline-block;
}

.display-inline {
    display: inline;
}

.center {
    text-align: center;
}


/* TEXT */

.thin {
    font-weight: 100;
}

.light {
    font-weight: 300;
}

.regular {
    font-weight: 400;
}

.medium {
    font-weight: 500;
}

.bold {
    font-weight: 700;
}


/* COLORS */

.black-background {
    background: #000;
}

.dark-background {
    background: #181921;
}

.white-background {
    background: #fff;
}

.white-text {
    color: #fff;
}

.black-text {
    color: #000;
}

.gradient-background-rgb {
    background: 
        linear-gradient(
            45deg, 
            #ff000088, 
            #ff000000 70%
        )
    , 
        linear-gradient( 
            315deg, 
            #00ff0088, 
            #00ff0000 70%
        )
    , 
        linear-gradient( 
            180deg, 
            #0000ff88, 
            #0000ff00 70%
        )
    ;
}

.shadows-background {
    background: 
        linear-gradient( 
            180deg, 
            #444444cc, 
            #ffffff00 6px
        )
    , 
        linear-gradient( 
            0deg, 
            #444444cc, 
            #ffffff00 4px
        )
    , 
        linear-gradient( 
            #ffffffdd, 
            #ffffffdd
        )
    ;
}

/* CONTENT */

/* NAV */

.brand-nav-icon-big {
    height: 50px;
    width: auto;
}

.brand-nav-icon-small {
    height: 30px;
    width: auto;
}

header {
    font-size: 1.2em;
    padding: 10px 0;
    height: 50px;
}

.header-inline-nav {
    display: inline;
}

.inline-nav {
    float: right;
}

.inline-nav li {
    display: inline-block;
    margin-right: 15px;
    height: 50px;
    line-height: 50px;

}

.btn-small-nav-toggle {
    float: right;
    margin-right: 15px;
    height: 50px;
    line-height: 50px;
}

.block-nav li {
    display: block;
    margin-right: 15px;
    height: 25px;
    line-height: 25px;
    clear: left;
}


/* HOME */

/*#home {
    
}*/


/* HELP */

/*#background-help {

}*/


/* SERVICES */

/*#services {

}*/

/* PRICES */

/*#prices {

}*/


/* CONTACT */

/*#contact {
    
}*/

#profile-picture {
    width: auto;
    height: 250px;
}

/* FOOTER */

/*footer {
}*/

footer ul li {
    margin-right: 15px
}

.social-media-icon {
    width: auto;
    height: 40px;
}

/* GOOGLE MAPS */

.iframe-rwd {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.iframe-rwd iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* OTHERS */

@media only screen and (min-width: 601px) {
    .container {
        width: 85%;
    }
}

@media only screen and (min-width: 993px) {
    .container {
        width: 70%;
    }
}

@font-face {
    font-family: "Roboto";
    src: local(Roboto Thin), url("../fonts/roboto/Roboto-Thin.woff2") format("woff2"), url("../fonts/roboto/Roboto-Thin.woff") format("woff");
    font-weight: 100;
}

@font-face {
    font-family: "Roboto";
    src: local(Roboto Light), url("../fonts/roboto/Roboto-Light.woff2") format("woff2"), url("../fonts/roboto/Roboto-Light.woff") format("woff");
    font-weight: 300;
}

@font-face {
    font-family: "Roboto";
    src: local(Roboto Regular), url("../fonts/roboto/Roboto-Regular.woff2") format("woff2"), url("../fonts/roboto/Roboto-Regular.woff") format("woff");
    font-weight: 400;
}

@font-face {
    font-family: "Roboto";
    src: local(Roboto Medium), url("../fonts/roboto/Roboto-Medium.woff2") format("woff2"), url("../fonts/roboto/Roboto-Medium.woff") format("woff");
    font-weight: 500;
}

@font-face {
    font-family: "Roboto";
    src: local(Roboto Bold), url("../fonts/roboto/Roboto-Bold.woff2") format("woff2"), url("../fonts/roboto/Roboto-Bold.woff") format("woff");
    font-weight: 700;
}
